.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item__icon-list {
  border-radius: 50%;
  background-color: var(--check-icon-color);
  padding: 0.6rem;
  font-size: 1.6rem;
  color: var(--text-white);
}

.services__item {
  margin-left: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  padding: 2rem 2rem 1.5rem;
  box-shadow: 0px 0px 2px black;

  text-align: start;
}

.img-machine {
  width: 350px;
}

.machine__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.machine__item {
  margin-bottom: 3rem;
  margin-right: 3rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  padding: 2rem 2rem 1.5rem;
  box-shadow: 0px 0px 2px black;

  text-align: start;
}

.machine__item:nth-child(1),
.machine__item:nth-child(2),
.machine__item:nth-child(3),
.machine__item:nth-child(4),
.machine__item:nth-child(5),
.machine__item:nth-child(6) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--check-icon-color);
  padding: 0.6rem;

  font-size: 1.6rem;
  color: var(--text-white);
}

.strong__machine {
  font-size: 2rem;
}

.item__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list__service {
  margin-bottom: 0.8rem;
  text-align: left;
}

.item__text-box ul {
  width: 100%;
}

strong {
  font-size: 1.8rem;
}

.text-box__title {
  font-size: 2rem;
  font-weight: 800;
}

.text-box__text {
  font-size: 2rem;
  font-weight: 400;
}

.text__info {
  display: none;
}

.container__services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 480px) {
  .services__cards {
    width: 100%;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .item__icon-box {
    padding: 0.56rem;

    font-size: 1.5rem;
  }

  .text-box__title {
    font-size: 2rem;
  }

  .text-box__text {
    font-size: 1.4rem;
  }
}
